<!doctype html>
<html>
<head>
    <title>Main Page</title>
<!-- Bootstrap -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
   
<link rel="stylesheet" href="/static/dashboard.css">
</head>
<body>


<hr>

{% for flash in get_flashed_messages() %}
  {{ flash }}
{% endfor %}

        {% for flash in get_flashed_messages() %}
          <div id="flash" class="alert alert-info" role="alert">
          {{ flash }}
          </div>
        {% endfor %}

{% block content %}
    Put your body here.
{% endblock %}

</body>
</html>