{% extends 'base.html' %}
{% block content %}
 <table class="table table-striped">
    <tr>
        <th>Team</th>
        <th>Training</th>
        <th>Trainer</th>
        <th>Start Date</th>
        <th>Start Time</th>
        <th>End Time</th>
    </tr>
    {% for assignment in assignments %}
    <tr>
        <td>{{assignment.team_id}}</td>
        <td>{{assignment.training_id}}</td>
        <td>{{assignment.staff_id}}</td>
        <td>{{assignment.start_date}}</td>
        <td>{{assignment.start_time}}</td>
        <td>{{assignment.end_time}}</td>
    </tr>
    {% endfor %}
</table>

<div class="alert alert-success" role="alert">...</div>
<div class="alert alert-info" role="alert">...</div>
<div class="alert alert-warning" role="alert">...</div>
<div class="alert alert-danger" role="alert">...</div>
{% endblock %}