{% extends 'base.html' %}
{% block content %}

  <h1>Scheduler</h1>

  <title>Choose Training Period</title>

  <select>

  <option value="Team Leader Training">TLT</option>
  <option value="In-Processing">In-Processing</option>
  <option value="Corps Training Institute">CTI</option>
  <option value="Round 1">Round 1</option>
  <option value="Mid-Year Training">Mid-Year</option>
  <option value="Round 3">Round 3</option>
  <option value="Closure">Closure</option>

</select>

  <title>Course</title>

  <select>

  <option value="Community Meeting">Community Meeting</option>
  <option value="Residence Hall Orientation">RH Orientation</option>
  <option value="Supervisory Skills Trng">Supervisory Skills</option>
  <option value=""></option>
  <option value=""></option>
  <option value=""></option>
  <option value=""></option>

</select>

<option value="Staff ">Position</option>

<select>

<title>Choose a Unit</title>
  <option value="Cedar">Cedar</option>
  <option value="Maple">Maple</option>
  <option value="Oak">Oak</option>

</select>

<title>Pick Date/Time</title>
<form>

<!-- date should populate based on course availability -->
  Enter a date between first day of training:
  <input type="date" name="trngperiod" max="2016-17-02"><br>
  
  Enter a date after last day of training:
  <input type="date" name="bday" min="2000-01-02"><br>
</form>


  <title>Choose Team(s)</title>
  <select>
  <option value="Cedar 1">Cedar 1</option>
  <option value="Cedar 2">Cedar 2</option>
  <option value="Cedar 3">Cedar 3</option>
  <option value="Cedar 4">Cedar 4</option>
  <option value="Cedar 5">Cedar 5</option>
  <option value="Cedar 6">Cedar 6</option>
  <option value="Cedar 7">Cedar 7</option>
</select>

  <title>Staff POC</title>
  <select>
  <option value="Staff Name">Position</option>
  <option value="Staff Name">Position</option>
  <option value="Staff Name">Position</option>
  <option value="Staff Name">Position</option>
  <option value="Staff Name">Position</option>
  <option value="Staff Name">Position</option>
</select>





  
  <p><a href="/schedule">Page to schedule (is this a form?)</a></p>

  <h2>Dashboard View</h2>
  <p><a href="/dashboard">Dashboard view</a></p>

{% endblock %}