{% extends 'base.html' %}
{% block content %}

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">Scheduler</div>
      <div class="panel-body">
<p><strong>Choose Training Period</strong></p>
<form action="/submit_schedule" method="post">
  <select>
    <option value="Team Leader Training">TLT</option>
    <option value="In-Processing">In-Processing</option>
    <option value="Corps Training Institute">CTI</option>
    <option value="Round 1">Round 1</option>
    <option value="Mid-Year Training">Mid-Year</option>
    <option value="Round 3">Round 3</option>
    <option value="Closure">Closure</option>
</select>


<p>Pick a date</p>
<input name= "start_date" class="datepicker form-control" type="date"/>
    
<p>Choose Team</p>
  <select name="team_name">
    {% for team in teams %}
      <option value="{{team.team_name}}">{{team.team_name}}</option>
    {% endfor %}
  </select>


<p>Choose Training</p>
<select name="training_name">
    {% for training in trainings %}
      <option value="{{training.training_name}}">{{training.training_name}}
      </option>
    {% endfor %}
</select>

 <p>Pick Trainer</p>
<select name="staff_id">
    {% for staff in staff %}
      <option value="{{staff.staff_id}}">{{staff.staff_role}}</option>
    {% endfor %}
</select>

<p>Start Time</p>
<input name= "start_time"type=time>
</p>

<p>End Time</p>
<input name="end_time"type=time>
</p>

</select>

<p>
  <input type="submit" value="Save Schedule">
</form>
<p>
  </div>
</div>
</div>
</div>

{% endblock %}